<div class="container">
    {% if editmode %}
        <div style="border: dashed #4d4c44 1px; margin-bottom: 10px;">
            <div style="margin: 5px;">{{ pimcore_image('heroImage') }}</div>
            <div style="margin: 5px;">{{ pimcore_input('heroTitle') }}</div>
            <div style="margin: 5px;">{{ pimcore_input('heroSubTitle') }}</div>
        </div>
    {% else %}
        <div class="hero hero-img">
            {% if not pimcore_image('heroImage').empty %}
                <div class="img-bg">
                    <img src="{{ pimcore_image('heroImage').src }}" alt="{{ pimcore_image('heroImage').alt }}">
                </div>
            {% endif %}

            {% if not pimcore_image('heroTitle').empty %}
                <div class="hero-title">
                    <h2 class="h1">{{ pimcore_input('heroTitle').data }}</h2>
                    {% if not pimcore_image('heroSubTitle').empty %}
                        <P>{{ pimcore_image('heroSubTitle').data }}</P>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
