{% set pageTypes = ['page', 'link', 'hardlink'] %}

{% if pages %}
    {% for page in pages %}
        <div class="modal fade" id="nav-mobile--{{ page.key }}" tabindex="-1" role="dialog" aria-labelledby="nav-mobile--{{ page.key }}-label" aria-hidden="true">
            <div class="modal-dialog my-0 mx-auto" role="document">
                <div class="modal-content border-0 rounded-0">
                    <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                        <div id="nav-mobile--{{ page.key }}-label" class="h3 m-0">
                            <span class="sr-only"></span>
                        </div>
                        <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="nav-mobile--{{ page.key }}" aria-expanded="false" aria-label="{{ 'ehl_hide_menu'|trans }}">
                            <span aria-hidden="true"><i class="fal fa-times fa-lg"></i></span>
                        </button>
                    </nav>

                    <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                        <li class="mobile-nav-item">
                            <div class="mobile-nav-container">
                                <a href="{{ page.href }}" class="nav-link">
                                    {{ page.property('navigation_name') }}
                                    <span class="ml-1"><i class="fal fa-chevron-circle-right  fa-sm"></i>
                                    </span>
                                </a>
                            </div>

                            {% if page.children %}
                                <ul class="mobile-nav collapse show" id="nav-mobile-{{ page.key ~ '-' ~ page.id }}">
                                    {% for child in page.children %}
                                        {% if child.type in pageTypes %}
                                            <li class="mobile-nav-item">
                                                {% if not child.property('navigation_exclude') %}
                                                    <div class="mobile-nav-container">
                                                        {{ ehl_nav_get_a_tag(document, child, 'nav-')|raw }}
                                                    </div>

                                                    {# Hierarchy of child multiple levels #}
                                                    {% if child.children %}
                                                        {{ ehl_nav_children_list(document, child, 'nav-')|raw }}
                                                    {% endif %}
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
