{% set icons = {
    'fa-chart-line': 'Applicants',
    'fa-graduation-cap': 'Enrolled',
    'fa-male': 'Male students',
    'fa-female': 'Female students',
    'fa-id-card': 'Age range',
    'fa-globe': 'Nationalities',
} %}

{% set dataAosDelay = -100 %}
{% set dataDelay = 0.1 %}

<div class="bg-copper-50 py-9">
    <div class="container text-center">
        <h2 class="mt-0 mb-5">{{ pimcore_input('headline') }}</h2>
        <div class="row">
            {% for icon,text in icons %}
                {% set dataAosDelay = dataAosDelay + 100 %}
                {% set dataDelay = dataDelay + 0.1 %}

                <div class="col-6 col-xl-2 col-sm-6 mt-3 mt-xl-0">
                    <div class="flex-column" data-aos="zoom-in-up" data-aos-delay="{{ dataAosDelay }}">
                        <div>
                            <div class="h1 m-0">
                                <i class="fal {{ icon }}"></i>
                            </div>
                        </div>
                        <div>
                            {% if icon == 'fa-graduation-cap' or icon == 'fa-globe' %}
                                <p class="h2 m-0 count-up" data-delay="{{ dataDelay }}">
                                    {{ pimcore_input('number'~loop.index) }}
                                </p>
                            {% elseif icon == 'fa-male' or icon == 'fa-female' %}
                                <p class="h2 m-0">
                                    <span class="count-up" data-delay="{{ dataDelay }}">
                                        {{ pimcore_input('number'~loop.index) }}
                                    </span>
                                    %
                                </p>
                            {% elseif icon == 'fa-id-card' %}
                                <p class="h2 m-0">
                                    {{ pimcore_input('number'~loop.index) }}
                                    <span class="count-up" data-start="{{ pimcore_input('number'~loop.index).data }}"
                                          data-delay="0.6">
                                        {{ (' - ' ~ pimcore_input('number-span'~loop.index)) | raw }}
                                    </span>
                                </p>
                            {% else %}
                                <p class="h2 m-0 count-up">{{ pimcore_input('number'~loop.index) }}</p>
                            {% endif %}
                        </div>
                        <div>
                            <p class="small">{{ text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
