{% set color = pimcore_select('color').data ?: 'bg_blue bg-sky-50' %}
{% set puff = pimcore_select('puff').data ?: 'promo_txt_large' %}
{% set puff = puff != 'promo_txt_small promo_mini' ? puff : 'promo_txt_mini' %}
{% set link = not pimcore_relation('promo_href').empty
    ? pimcore_relation('promo_href')
    : pimcore_input('promo_link') %}

{% if document.property('bootstrap') %}
    {% if puff == 'promo_txt_small' or puff == 'promo_txt_large' or puff == 'promo_txt_mini' %}
        <div class="mb-3">
            <a href="{{ link }}" class="card nav-block {{ color }}" aria-label="">
                <div class="card-body">
                    <h3 class="nav-block-link m-0">{{ pimcore_input('promo_title').data }}</h3>
                    <p class=" mt-3">{{ pimcore_input('promo_lead').data }}</p>
                </div>
            </a>
        </div>
    {% else %}
        <div class="mb-3">
            <a href="{{ link }}" class="card nav-block {{ color }}" aria-label="">
                <div class="card-img">
                    <div class="card-img-container">
                        <img src="{{ pimcore_relation('promo_image').fullPath }}"
                             alt="{{ pimcore_input('promo_title').data }}">
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="nav-block-link m-0">{{ pimcore_input('promo_title').data }}</h3>
                    <p class=" mt-3">{{ pimcore_input('promo_lead').data }}</p>
                </div>
            </a>
        </div>
    {% endif %}

{% else %}
    {% if puff == 'promo_txt_small' or puff == 'promo_txt_large' or puff == 'promo_txt_mini' %}
        <div class="promo_box">
            <div class="promo promo_text_brown {{ color ~ ' ' ~ puff }}">
                <a href="{{ link }}">
                    <p class="promo_title">{{ pimcore_input('promo_title').data }}</p>
                    <p class="promo_lead">{{ pimcore_input('promo_lead').data }}</p>
                    <span class="promo_icon"></span>
                </a>
            </div>
        </div>
    {% else %}
        <div class="promo_box">
            <div class="promo promo_text_brown {{ color ~ ' ' ~ puff }}">
                <a href="{{ link }}">
                    <div class="promo_image"
                         style="background-image:url({{ pimcore_relation('promo_image').fullPath }});">
                        <span class="promo_icon"></span>
                    </div>
                    <p class="promo_title"><?php echo $this->input("promo_title"); ?></p>
                    <p class="promo_lead"><?php echo $this->input("promo_lead"); ?></p>
                </a>
            </div>
        </div>
    {% endif %}
{% endif %}
