<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ asset('static/toolkit/styles/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('static/toolkit/styles/main.css') }}">
    <link rel="stylesheet" href="{{ asset('static/toolkit/styles/ehl.css') }}">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-xl-3 collapse d-none d-xl-block"></div>
            <div class="col-12 col-xl-9 mb-6 mb-xl-0">
                {{ block('content') }}
            </div>
        </div>
    </div>
</body>
</html>
