<style>
    .card-img {height:190px;}
    .card-img .pimcore_tag_image {height:100%;}
    .card-img img {width:100%; height:100%;}
    .h-100 a {height:100%;}
</style>

{% set store = [
    ['nav-block-sky-50 nav-block-fade-sky-50', 'Himmel 50 %'],
    ['nav-block-copper-50 nav-block-fade-copper-50', 'Koppar 50 %'],
    ['nav-block-flower-50 nav-block-fade-flower-50', 'Blomma 50 %'],
    ['nav-block-plaster-50 nav-block-fade-plaster-50', 'Puts 50 %']
] %}

<div class="mb-3">
    {{ pimcore_select('color'~suffix, {
        'reload': true,
        'width': 150,
        'store': store
    }) }}

    <div class="card {{ pimcore_select('color'~suffix).data }}">
        <div class="card-img p-2">
            {{ pimcore_image('image'~suffix, {
                'hidetext': true
            }) }}
        </div>
        <div class="card-body">
            <h3 class="nav-block-link m-0">{{ pimcore_link('link'~suffix) }}</h3>
            <p class="mt-3">{{ pimcore_input('lead'~suffix) }}</p>
        </div>
    </div>
</div>
