<style>
    .h-100 a {height:100%;}
</style>

<div class="mb-3 h-100">
    <a href="{{ pimcore_link('link'~suffix).href }}" class="card nav-block {{ pimcore_select('color'~suffix).data }}">
        {% if not pimcore_image('image'~suffix).empty %}
            <div class="card-img p-2">
                <div class="card-img-container">
                    <img src="{{ pimcore_image('image'~suffix).src }}" alt="{{ pimcore_link('link'~suffix).text }}">
                </div>
            </div>
        {% endif %}

        <div class="card-body">
            <h3 class="nav-block-link m-0">{{ pimcore_link('link'~suffix).text }}</h3>
            <p class=" mt-3">{{ pimcore_input('lead'~suffix).data }}</p>
        </div>
    </a>
</div>
