{% extends 'Layouts/new.html.twig' %}

{% block content %}
    {% if document.property('section') %}
        <div class="container">
            <div class="row p-3">
                <div class="{{ webOtherLang ? 'col-12 col-lg-9' : 'col' }} p-4 bg-plaster-50 nav-undecorated">
                    <h1 class="h2 my-0">
                        <a href="{{ navStartNode }}">
                            {{ document.property('section') }}
                        </a>
                    </h1>
                </div>

                {% if webOtherLang %}
                    <div class="col-12 col-lg-3 bg-plaster-50 px-4 pb-4 pt-0 pt-lg-5 text-lg-right nav-undecorated">
                        <a class="ml-auto" href="{{ webOtherLang.path }}">
                            <i class="fal fa-globe"></i>
                            {{ 'this_site_in_other_lang'|trans([], null, language) }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {{ pimcore_areablock('mainAreablock', {
        'allowed': ['hero', 'carousel', 'cards-block', 'news-block', 'events-block', 'puff-block3333', 'unibuddy-carousel', 'banner', 'masonry-a', 'masonry-b', 'masonry-c', 'masonry-d'],
        'group': {
            'Standard': ['carousel', 'hero', 'cards-block', 'news-block', 'events-block', 'puff-block3333', 'unibuddy-carousel', 'banner'],
            'Masonry': ['masonry-a', 'masonry-b', 'masonry-c', 'masonry-d']
        },
        'params': {
            'news-block': {
                'baseuri': websiteConfig.baseuri,
                'itemsPerRow': 4,
                'newsTop': true,
                'landingpage': true
            },
            'events-block': {
                'baseuri': websiteConfig.baseuri
            },
            'puff-block3333': {
                'itemsPerRow': 4,
                'containerClass': 'container mb-5 mt-4 mt-lg-8',
                'colClass': 'col-12 col-sm-6 col-lg-4 col-xl-3 mb-5'
            }
        }
    }) }}
{% endblock %}
