{% extends 'Layouts/new.html.twig' %}

{% block content %}
    {% set heroSrc = document.property('tabHero') ?: null %}
    <main class="my-4">
        <div class="container">
            <div class="row my-3">
                <div class="col-12">
                    <div class="hero hero-img">
                        <div class="img-bg">
                            {% if heroSrc %}
                                <div class="img-bg">
                                    <img src="{{ heroSrc }}" alt="">
                                </div>
                            {% endif %}
                            {% if document.property('tabTitle') %}
                                <div class="hero-title">
                                    <h1>{{ document.property('tabTitle') }}</h1>
                                    {% if document.property('tabSubTitle') %}
                                        <P>{{ document.property('tabSubTitle') }}</P>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {% if navigation.pages %}
                        {% set menuRenderer = pimcore_nav_renderer('menu') %}
                        {% do menuRenderer.setPartial(
                            'Bootstrap/Navigation/tabs.html.twig', {'pages': navigation}
                        ) %}
                        {{ menuRenderer.render(navigation) | raw }}
                    {% endif %}
                </div>
            </div>

            <div class="tab-content my-5">
                <div class="row">
                    <div class="col-12 col-lg-8 mb-lg-5">
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-lg-1">
                                {% if document.property('tabPageTitle') %}
                                    {% if editmode %}
                                        <h2>{{ pimcore_input('title') }}</h2>
                                        <p class="lead">{{ pimcore_textarea('lead') }}</p>
                                    {% else %}
                                        {% if not pimcore_input('title').empty %}
                                            <h2>{{ pimcore_input('title') }}</h2>
                                        {% endif %}
                                        {% if not pimcore_textarea('lead').empty %}
                                            <p class="lead">{{ pimcore_textarea('lead') }}</p>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {{ pimcore_areablock('mainAreablock', {
                                    'allowed': ['wysiwyg','image','blockquote','snippet','youtube','accordion',
                                        'toggle-portrait', 'toggle-content', 'rss', 'news', 'newsMain', 'video',
                                        'eventlistMain', 'heading',
                                    ],
                                    'params': {
                                        'news': { 'baseuri': websiteConfig.baseuri },
                                        'newsMain': { 'baseuri': websiteConfig.baseuri },
                                        'eventlistMain': { 'baseuri': websiteConfig.baseuri },
                                    }
                                }) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-xl-3 offset-xl-1">
                        {{ pimcore_areablock('rightAreablock', {
                            'allowed': ['wysiwyg','image','infobox','puff','quickfacts','blockquote', 'uid',
                                'snippet', 'youtube', 'rss', 'news', 'heading',
                            ],
                            'params': {
                                'news': { 'baseuri': websiteConfig.baseuri },
                                'eventlist': { 'baseuri': websiteConfig.baseuri },
                                'uid': { 'baseuri': websiteConfig.baseuri },
                            }
                        }) }}
                    </div>
                </div>

                {% if not document.property('DontShowPageManager') %}
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            {% include 'Includes/byline.html.twig' %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>

    <div>
        <div class="row">
            <div class="col-12">
                {{ pimcore_areablock('footerAreablock', {
                    'allowed': ['cards-block','news-block','events-block','infographics-class','puff-block3333'],
                    'params': {
                        'news-block': {
                            'baseuri': websiteConfig.baseuri,
                            'itemsPerRow': 4,
                            'newsTop': true,
                        },
                        'events-block': { 'baseuri': websiteConfig.baseuri },
                        'puff-block3333': {
                            'itemsPerRow': 4,
                            'containerClass': 'container mb-5 mt-4 mt-lg-8',
                            'colClass': 'col-12 col-sm-6 col-lg-4 col-xl-3 mb-5',
                        },
                    }
                }) }}
            </div>
        </div>
    </div>

    {% if editmode %}
        <style>
            table, table td, table th {border:none}
            .pimcore_block_button_up, .pimcore_block_button_down {display:none !important;}
            .pimcore_open_link_button {display:none !important;}
            #pimcore_editable_rightAreablock .pimcore_area_edit_button,
            #pimcore_editable_mainAreablock .pimcore_area_edit_button {z-index: 99;}
            .x-window .pimcore_tag_input {border: 1px solid #dedbd9;}
            .info {font-weight:700;margin:0;}
            .margins {margin:8px 0 0 0;}
            .embed-responsive {z-index:1;}
            .pimcore_area_entry {margin-bottom: 40px!important;}
            #pimcore_editable_lead {font-family: Georgia,serif; font-size: 1.3125rem; margin-bottom: 2rem;}
            .main{overflow:visible;}
            .pimcore_area_buttons {display: block;visibility: visible !important;}
        </style>
    {% endif %}
{% endblock %}

