{% if eventList %}
    <div class="col-12 my-6">
        <h2 class="nml-3">{{ heading }}</h2>
        <div class="border-bottom py-md-3 nm-md-3">
            {% for item in eventList %}
                <a href="{{ uri ~ item.key }}"
                   class="card card-item nav-block bg-transparent flex-row p-0 p-md-3 mb-3 mb-md-0 nav-block-hover-plaster-25"
                   title="{{ item.rubrik }}">
                    <div class="card-date p-0">
                        <div class="calendar-date-box bg-dark">
                            <div class="h1">{{ item.start.format('j') }}</div>
                            <p>{{ item.start.formatLocalized('%b') }}</p>
                        </div>
                    </div>
                    <div class="card-body p-0 pl-3 pl-md-0">
                        <div class="meta">
                                    <span class="meta-date">
                                        {{ ehl_calendar_event_date(language, item.start, item.end, item.showEnd) | raw }}
                                    </span>
                            <span class="meta-category">{{ item.category ? item.category|trans }}</span>
                        </div>
                        <h3 class="nav-block-link mt-0 mb-2 h4">{{ item.rubrik }}</h3>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% if not pimcore_relation('link').empty %}
            <div class="mt-5 text-right font-weight-normal">
                <a href="{{ pimcore_relation('link').fullPath }}" class="nav-undecorated">
                    {{ 'more events'|trans }}&nbsp;
                    <i class="fal fa-chevron-circle-right fa-lg"></i>
                </a>
            </div>
        {% endif %}
    </div>
{% else %}
    {{ 'no events'|trans }}
{% endif %}
