{% set color = pimcore_select('color').data ?: 'bg-sky-50' %}

{% if editmode %}
    <style>
        .pimcore_area_toggle-content .pimcore_tag_input {
            font-family: "Georgia",serif;
            font-weight: 500;
            line-height: 1.2;
            font-size: 1.5rem;
        }
    </style>
{% endif %}

<div class="expand {{ color }} mb-3">
    <div class="expand-content">
        <div class="expand-content-lead">
            <p class="h3 mt-0 mb-3">{{ pimcore_input('heading') }}</p>
            {{ pimcore_wysiwyg('lead', { 'customConfig': '/static/js/ckeditor.js' }) }}
        </div>
        <div class="expand-content-body">
            {{ pimcore_wysiwyg('body', { 'customConfig': '/static/js/ckeditor.js' }) }}
        </div>
    </div>
    <button class="expand-control">
        <span class="expand-closed">
            {{ 'full_story'|trans }}&nbsp;
            <span class="ml-1"><i class="fal fa-chevron-down"></i></span>
        </span>
        <span class="expand-open">
            {{ 'hide_story'|trans }}&nbsp;
            <span class="ml-1"><i class="fal fa-chevron-up"></i></span>
        </span>
    </button>
</div>
