{% if newsList %}
    {% set news = paging ? paginator : newsList %}

    {# News List #}
    <div class="row">
        <div class="col">
            {% for item in news %}
                {% set locale = item.rubrik(language)
                    ? language
                    : language == 'sv' ? 'en' : false
                %}

                {% if locale %}
                    <a href="{{ uri ~ item.key() }}"
                       class="card card-item nav-block card-item-lined nav-block-hover-plaster-25 px-2"
                       title="{{ item.rubrik(locale) }}">
                        <div class="card-body">
                            <div class="meta">
                                <span class="meta-date">{{ item.creationDate()|date('Y-m-d') }}</span>
                                <span class="meta-category">{{ item.category() ? item.category()|trans : '' }}</span>
                            </div>
                            <h3 class="nav-block-link mt-0 mb-2 h4">{{ item.rubrik(locale) }}</h3>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {# pagination #}
    {% if paging and paginationVariables %}
        {# TODO fix pagination #}
        {# {% include 'Navigation/pagination.html.twig' %} #}
    {% endif %}
{% else %}
    {% if language == 'sv' %}
        <p>Det finns för närvarande inga nyhetsartiklar!</p>
    {% else %}
        <p>There are currently no news articles!</p>
    {% endif %}
{% endif %}
