{% set color = pimcore_select('color').data ?: 'bg-sky-50' %}

{% if editmode %}
    <style>
        .pimcore_area_toggle-portrait .pimcore_tag_textarea {
            font-family: "Georgia",serif;
            font-weight: 500;
            line-height: 1.2;
            font-size: 1.5rem;
        }
    </style>

    <div class="expand {{ color }} mb-3">
        <div class="expand-content">
            <div class="expand-content-lead">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        <i class="fas fa-3x fa-quote-right fa-pull-left"></i>
                        {{ pimcore_textarea('blockquote') }}
                    </p>
                    <footer class="text-right">
                        {{ pimcore_input('contact-info') }}
                    </footer>
                </blockquote>
            </div>
            <div class="expand-content-body">
                {% if not pimcore_image('image').empty %}
                    <p>
                        <img src="{{ pimcore_image('image').src }}" alt="" style="width:100%; height:auto;">
                    </p>
                {% endif %}
                {{ pimcore_wysiwyg('body', { 'customConfig': '/static/js/ckeditor.js' }) }}
            </div>
        </div>
        <button class="expand-control">
            <span class="expand-closed">
                {{ 'full_story'|trans }}&nbsp;
                <span class="ml-1"><i class="fal fa-chevron-down"></i></span>
            </span>
            <span class="expand-open">
                {{ 'hide_story'|trans }}&nbsp;
                <span class="ml-1"><i class="fal fa-chevron-up"></i></span>
            </span>
        </button>
    </div>
{% else %}
    <div class="expand {{ color }} mb-3">
        <div class="expand-content">
            <div class="expand-content-lead">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        <i class="fas fa-3x fa-quote-right fa-pull-left"></i>
                        {{ pimcore_textarea('blockquote').data }}
                    </p>
                    <footer class="blockquote-footer text-right">
                        {{ pimcore_input('contact-info').data }}
                    </footer>
                </blockquote>
            </div>
            <div class="expand-content-body">
                {% if not pimcore_image('image').empty %}
                    <p>
                        <img src="{{ pimcore_image('image').src }}" alt="" style="width:100%; height:auto;">
                    </p>
                {% endif %}
                {{ pimcore_wysiwyg('body', { 'customConfig': '/static/js/ckeditor.js' }).data | raw }}
            </div>
        </div>
        <div class="expand-control">
            <div class="expand-closed">
                {{ 'full_story'|trans }}&nbsp;
                <span class="ml-1"><i class="fal fa-chevron-down"></i></span>
            </div>
            <div class="expand-open">
                {{ 'hide_story'|trans }}&nbsp;
                <span class="ml-1"><i class="fal fa-chevron-up"></i></span>
            </div>
        </div>
    </div>
{% endif %}
