<div class="container py-2">
    <div class="row pt-1">
        <div class="col-12 col-lg-4 mb-5 text-center text-lg-left">
            <img src="{{ document.property('staff') ? asset('static/toolkit/images/logo/logo_lusem_footer_black@1x.png') : asset('static/toolkit/images/logo/logo_lusem_footer@1x.png') }}"
                srcset="{{ document.property('staff') ? '/static/toolkit/images/logo/logo_lusem_footer_black@1x.png 1x, /static/toolkit/images/logo/logo_lusem_footer_black@2x.png 2x' :
                    '/static/toolkit/images/logo/logo_lusem_footer@1x.png 1x, /static/toolkit/images/logo/logo_lusem_footer@2x.png 2x' }}"
                alt="School of Economics and Management | Lund University" class="footer-logo"
            >
        </div>
        <div class="col-12 col-sm-6 col-md-3 offset-md-3 offset-lg-0 col-lg-4 mb-5">
            <h6 class="p font-weight-bold text-uppercase mb-1">Contact us</h6>
            <p>Lund University School of Economics and Management<br>P.O. Box 7080<br>220 07 LUND, Sweden<br>+46 46 22200 00<br><a href="mailto:info@ehl.lu.se" class="{{ document.property('staff') ? 'text-dark' : 'text-white' }}">info@ehl.lu.se</a></p>
        </div>
        {% if not document.property('staff') %}
            <div class="col-12 col-sm-6 col-md-3 col-lg-4 mb-5">
                <h6 class="p font-weight-bold text-uppercase mb-1">Shortcuts</h6>
                <div class="nav nav-list flex-column">
                    <a class="nav-link text-white py-1 px-0" href="https://ehl.lu.se">Change to Swedish <i class="fal fa-globe"></i></a>
                    <a class="nav-link text-white py-1 px-0" href="/about-this-website">About this website</a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row mb-5">
        <div class="col-12 col-lg-4 offset-lg-4">
            <h6 class="p font-weight-bold text-uppercase mb-1 text-center text-lg-left">Follow us</h6>
            <ul class="nav nav-social mt-3 nmx-2 justify-content-center justify-content-lg-start">
                <li class="nav-item mx-2">
                    <a class="nav-link text-white p-0" href="https://www.facebook.com/lusem.lu.se"><span class="sr-only">Facebook </span><i class="fab fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white p-0" href="https://www.instagram.com/lusem_lunduniversity/"><span class="sr-only">Instagram </span><i class="fab fa-instagram fa-2x"></i></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white p-0" href="https://www.linkedin.com/school/lund-university-school-of-economics-and-management/"><span class="sr-only">LinkedIn </span><i class="fab fa-linkedin fa-2x"></i></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white p-0" href="https://twitter.com/Lunduni_LUSEM"><span class="sr-only">Twitter </span><i class="fab fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white p-0" href="https://www.youtube.com/user/LUSEMLund"><span class="sr-only">Youtube </span><i class="fab fa-youtube-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% if not document.property('staff') %}
    <div class="bg-darker py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="d-inline-block">
                        <div class="nav nav-partners align-items-center justify-content-center flex-row nmx-5">
                            <a href="https://www.aacsb.edu/" class="nav-link p-0 mb-3 mx-5">
                                <img src="{{ asset('static/toolkit/images/partners/aacsb.png') }}" alt="Business Edication Alliance" class=" footer-partner">
                            </a>
                            <a href="http://www.efmd.org/" class="nav-link p-0 mb-3 mx-5">
                                <img src="{{ asset('static/toolkit/images/partners/equis.png') }}" alt="equis" class=" footer-partner">
                            </a>
                            <a href="https://www.associationofmbas.com/" class="nav-link p-0 mb-3 mx-5">
                                <img src="{{ asset('static/toolkit/images/partners/amba.png') }}" alt="amba" class=" footer-partner">
                            </a>
                            <a href="https://www.leru.org/" class="nav-link p-0 mb-3 mx-5">
                                <img src="{{ asset('static/toolkit/images/partners/leru.png') }}" alt="leru" class=" footer-partner">
                            </a>
                            <a href="http://www.universitas21.com/" class="nav-link p-0 mb-3 mx-5">
                                <img src="{{ asset('static/toolkit/images/partners/u21.png') }}" alt="u21" class=" footer-partner">
                            </a>
                            <a href="http://www.unprme.org/" class="nav-link p-0 mb-3 mx-5">
                                <img src="{{ asset('static/toolkit/images/partners/prime.svg') }}" alt="prime" class=" footer-partner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
