{% set pages = websiteObject.mainmenu %}

{% include 'Navigation/_mobile-mainnav-item.html.twig' %}

<div class="mobile-nav-bar font-size-sm font-size-sm-base d-xl-none" id="nav-link-padding-fix">
    <nav class="nav ml-2 flex-grow-1">
        {% if pages %}
            {% for page in pages %}
                {% set navStartNode = page %}
                {% set navigation = pimcore_build_nav(document, navStartNode) %}

                {% set activeClass = '' %}
                {% for p in navigation %}
                    {% if p.active(true) or document.id == page.id %}
                        {% set activeClass = 'active' %}
                    {% endif %}
                {% endfor %}

                <div class="nav-item flex-1 {{ activeClass }}">
                    <a href="#nav-mobile--{{ page.key }}"
                        class="nav-link px-2"
                        data-toggle="modal"
                        aria-controls="nav-mobile--{{ page.key}}"
                        aria-expanded="false"
                        aria-label="{{ 'ehl_show_menu'|trans }}"
                    >
                        {{ page.property('navigation_name') }}
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </nav>

    <nav class="nav">
        <div class="nav-item">
            <a class="nav-link" href="#nav-mobile" data-toggle="modal" aria-controls="nav-mobile" aria-expanded="false" aria-label="{{ 'ehl_show_menu'|trans }}">
                <i class="fal fa-bars"></i>
                {{ 'more'|trans }}
            </a>
        </div>
    </nav>
</div>
