<div class="container-fluid mx-0 px-0 nav-undecorated">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{ pimcore_link('link').href }}" class="nav-block h-100">
                    <div class="carousel-img-container">
                        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"
                               poster="{{ asset('static/toolkit/images/ui/transparent.gif') }}"
                               style="background-image: url({{ pimcore_relation('image').fullPath }})"
                               class="carousel-img">
                            {% if not pimcore_relation('webm').empty %}
                                <source src="{{ pimcore_relation('webm').fullPath }}" type="video/webm">
                            {% endif %}
                            {% if not pimcore_relation('ogg').empty %}
                                <source src="{{ pimcore_relation('ogg').fullPath }}" type="video/ogg">
                            {% endif %}
                            {% if not pimcore_relation('mp4').empty %}
                                <source src="{{ pimcore_relation('mp4').fullPath }}" type="video/ogg">
                            {% endif %}
                            {% if not pimcore_relation('3gp').empty %}
                                <source src="{{ pimcore_relation('3gp').fullPath }}" type="video/ogg">
                            {% endif %}
                        </video>
                    </div>
                    <div class="carousel-caption">
                        <div class="container">
                            <p><span class="a nav-block-link">
                                {{ pimcore_link('link').text }}&nbsp;<i class="fal fa-chevron-circle-right fa-sm"></i>
                            </span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
