{% if newsList %}
    <div class="container mb-4 mt-2 mt-lg-4 px-0">
        <div class="row">
            {% for key,news in newsList %}
                <div class="col-12 col-sm-6 col-lg-4 col-xl-4">
                    <a href="{{ uri ~ news.key }}" class="card nav-block h-100 {{ color }}" aria-label="">
                        {% if showImage %}
                            <div class="card-img p-2">
                                <div class="card-img-container">
                                    <img src="{{ news.image1 }}" alt="">
                                </div>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <div class="meta ">
                                <span class="meta-date">{{ news.creationDate|date('Y-m-d') }}</span>
                                <span class="meta-category">{{ news.category ? news.category|trans }}</span>
                            </div>
                            <h3 class="nav-block-link m-0">{{ news.rubrik }}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    {{ 'no news'|trans }}
{% endif %}
