{% set button = 'primary' %}
{% set heading = '' %}
{% set text = '' %}
{% set datebox = 'bg-dark' %}

{% if pimcore_select('color').data == 'bg-bronze'
    or pimcore_select('color').data == 'bg-blue'
    or pimcore_select('color').data == 'bg-dark'
%}
    {% set button = 'white' %}
    {% set heading = 'text-white' %}
    {% set text = 'text-white' %}
    {% set datebox = 'bg-white text-dark' %}
{% endif %}

{% if eventList %}
    <div class="{{ pimcore_select('color').data }}">
        <div class="container py-4" id="calendar_cards">
            {% if editmode %}
                <div class="row my-8">
                    <div class="col-12 text-center">
                        <h2 class="h1">{{ pimcore_input('heading') }}</h2>
                        <p>{{ pimcore_textarea('beskrivning') }}</p>
                        <div class="mt-5">
                            {% for i in 0..2 %}
                                <div class="btn btn-outline-{{ button }} mx-1 mb-3">
                                    {{ pimcore_link('button'~loop.index) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}

                {# Heading #}
                <div class="row my-8">
                    <div class="col-12 text-center">
                        {% if not pimcore_input('heading').empty %}
                            <h2 class="h1">{{ pimcore_input('heading').data }}</h2>
                        {% endif %}
                        {% if not pimcore_textarea('beskrivning').empty %}
                            <p>{{ pimcore_textarea('beskrivning').data }}</p>
                        {% endif %}

                        <div class="mt-5">
                            {% for i in 0..2 %}
                                {% if not pimcore_link('button'~loop.index).empty %}
                                    <a href="{{ pimcore_link('button'~loop.index).href }}"
                                       class="btn btn-outline-{{ button }} mx-1 mb-3">
                                        {{ pimcore_link('button'~loop.index).text }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {# Cards #}
            <div class="row my-5">
                {% for item in eventList %}
                    {% set date = ehl_calendar_event_date(language, item.start, item.end, item.showEnd) %}

                    <div class="col-12 col-lg-6 col-lined">
                        <a href="{{ uri~item.key }}"
                           class="card card-item nav-block flex-row card-item-lined h-100 nav-block-hover-plaster-25 p-2 py-md-3 nmx-2 {{ pimcore_select('color').data }}"
                           title="{{ item.rubrik }}">
                            <div class="card-date">
                                <div class="calendar-date-box bg-dark d-none d-sm-block">
                                    <div class="h1">{{ item.start.format('j') }}</div>
                                    <p>{{ item.start.formatLocalized('%b') }}</p>
                                </div>
                            </div>
                            <div class="card-body p-2 {{ text }}">
                                <div class="meta">
                                    <span class="meta-date">{{ date|raw }}</span>
                                    <span class="meta-category">{{ item.category ? item.category|trans : '' }}</span>
                                </div>
                                <h3 class="nav-block-link mt-0 mb-2 h5 {{ text }}">{{ item.rubrik }}</h3>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
