{% if eventList %}
    <div class="container mb-4 mt-2 mt-lg-4 px-0">
        <div class="row">
            {% for item in eventList %}
                {% set date = ehl_calendar_event_date(language, item.start, item.end, item.showEnd) %}
                <div class="col-6">
                    <a href="{{ uri ~ item.key }}"
                       class="card card-item nav-block flex-row card-item-lined h-100 p-2 py-md-3"
                       title="{{ item.rubrik }}" aria-label="Heading">
                        <div class="card-date">
                            <div class="calendar-date-box bg-dark d-none d-sm-block">
                                <div class="h1">{{ item.start().format('j') }}</div>
                                <p>{{ item.start().formatLocalized('%b') }}</p>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="meta">
                                <span class="meta-date">{{ date | raw }}</span>
                                <span class="meta-category">{{ item.category ? item.category|trans }}</span>
                            </div>
                            <h3 class="nav-block-link mt-0 mb-2 h5">{{ item.rubrik }}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    {{ 'no events'|trans }}
{% endif %}
