{% set itemsPerRow = itemsPerRow ?? 4 %}

<div class="{{ containerClass }}">
    <div class="row">
        {% for i in 0..(itemsPerRow-1) %}
            <div class="{{ colClass }}">
                {% if editmode %}
                    <div>
                        {{ pimcore_select('type_'~i, {
                            'reload': true,
                            'width': 150,
                            'store': [
                                ['direkt','Redigera direkt'],
                                ['snippet','Infoga snippet']
                            ]
                        }) }}
                    </div>
                {% endif %}

                {% set type = pimcore_select('type_'~i).data %}
                {% if type == 'direkt' %}
                    {{ include('Snippet/teaser.html.twig', {
                        'suffix': i
                    }) }}
                {% else %}
                    <div class="{{ editmode ? 'mt-6' : 'h-100' }}">
                        {{ pimcore_snippet('teaser_'~i) }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
