<div class="bg-blue d-none d-lg-block">
    <div class="container-fluid mw-xl py-0">
        <nav class="navbar navbar-expand-md navbar-dark bg-blue font-size-sm p-0 text-white">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-row ml-auto">
                    {# Shortcuts Navigation #}
                    {% include 'Navigation/navbar-staff.html.twig' %}
                </ul>
                <ul class="navbar-nav flex-row ml-5">
                    <li class="nav-item">
                        <a href="#" class="nav-link px-3" onclick="toggleBar();" title="{{ 'browse_aloud'|trans }}" id="bapluslogo" data-bapdf="372">
                            <span class="mr-1"><i class="fal fa-volume"></i></span>
                            Listen
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container-fluid mw-xl">
    <div class="row m-0 py-3 py-lg-5">
        <div class="col p-0">
            <div class="d-flex justify-content-between align-items-center h-100 text-primary">
                <div class="title-with-sub text-blue">
                    <h1 class="medarbetarweb-title">
                        <a class="text-blue" href="/">LUSEM Staff Pages</a>
                    </h1>
                    <div class="medarbetarweb-sub">Lund University School of Economics and Management</div>
                </div>
                <div class="header-logo header-logo-institution header-logo-lu flex-grow-1 flex-lg-grow-0 d-none d-xl-block">
                    <a href="https://lusem.lu.se" title="School of Economics and Management | Lund University">
                        <img src="{{ asset('static/toolkit/images/logo/logo_lusem@1x.png') }}" srcset="{{ asset('static/toolkit/images/logo/logo_lusem@1x.png') }} 1x, {{ asset('static/toolkit/images/logo/logo_lusem@2x.png') }} 2x" alt="School of Economics and Management | Lund University" class="mw-100">
                    </a>
                </div>
                <div class="flex-shrink-1 flex-lg-shrink-0 flex-grow-0 d-flex d-xl-none flex-column justify-content-between h-100 mh-120">
                    <div class="h-lg-auto flex-column justify-content-between align-items-end font-size-sm font-size-sm-base flex-grow-0">
                        <nav class="nav text-center h-100 h-lg-auto align-items-center d-lg-none flex-nowrap">
                            <div class="nav-item">
                                <a class="ml-2 p-1 d-block nav-undecorated" href="#header-search-form" data-toggle="collapse" aria-controls="header-search-form" aria-expanded="false" aria-label="Show and hide search field">
                                    <i class="fal fa-search"></i><br>Search
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="ml-2 p-1 d-block nav-undecorated" href="#nav-mobile" data-toggle="modal" data-target="#nav-mobile" aria-controls="nav-mobile" aria-expanded="false" aria-label="Show menu">
                                    <i class="fal fa-bars"></i>Meny
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-none d-xl-block font-size-xl-lg font-weight-light bg-stone-25">
    <div class="mw-xl d-flex container-fluid justify-content-between align-items-center ">
        {# Main Navigation - Desktop #}
        {% include 'Navigation/main.html.twig' %}

        {# Desktop search form #}
        <form role="search" class="flex-xl-grow-1 header-search-container--institution" id="searchsiteform" action="{{ searchUrl }}" method="get" accept-charset="UTF-8">
            <div class="input-group input-group-round input-group-sm w-100 flex">
                <input type="search" class="form-control form-control-sm border-right-0" id="searchsite" name="query" value="">
                <input id="searchsite_tab" type="hidden" name="tab" value="undefined">
                <input id="searchsite_page" type="hidden" name="page" value="1">
                <div class="input-group-append">
                    <button class="btn btn-primary px-2" type="submit" id="searchsite_submit">
                        <span class="mr-2">{{ 'search'|trans }}</span>
                        <i class="fal fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{# Mobile search form #}
<div class="border-bottom">
    <div class="header-search-form collapse collapse-lg pb-2 px-2" id="header-search-form">
        <form role="search" class="form-inline px-lg-3" id="mobile-searchsiteform" action="{{ searchUrl }}" method="get" accept-charset="UTF-8">
            <div class="input-group input-group-round input-group-sm w-100 flex">
                <input type="search" class="form-control form-control-sm border-right-0" id="header-search-field-mobile" name="query" value="">
                <input id="searchsite_tab" type="hidden" name="tab" value="undefined">
                <input id="searchsite_page" type="hidden" name="page" value="1">
                <div class="input-group-append">
                    <button class="btn btn-primary px-2" type="submit" id="searchsite_submit">
                        <span class="mr-2">{{ 'search'|trans }}</span>
                        <i class="fal fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
