<div class="infobox bg-copper-50 mb-3">
    <div class="row mb-3">
        <div class="col-2 text-center"><i class="far fa-graduation-cap fa-lg"></i></div>
        <div class="col">
            <p class="m-0"><strong>Next programme start</strong></p>
            <p>{{ pimcore_input('startDate') }}</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 text-center"><i class="far fa-calendar-alt fa-lg"></i></div>
        <div class="col">
            <p class="m-0"><strong>Arrival day</strong></p>
            <p>{{ pimcore_input('arrivalDay') }}</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 text-center"><i class="far fa-clock fa-lg"></i></div>
        <div class="col">
            <p class="m-0"><strong>Application deadline</strong></p>
            <p>{{ pimcore_input('applicationDeadline') }}</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 text-center"><i class="far fa-hourglass-start fa-lg"></i></div>
        <div class="col">
            <p class="m-0"><strong>Duration</strong></p>
            <p>{{ pimcore_input('duration') }}</p>
        </div>
    </div>
    <div class="row mb-0">
        <div class="col-2 text-center"><i class="far fa-money-bill-alt fa-lg"></i></div>
        <div class="col">
            <p class="m-0"><strong>Tuition fee</strong></p>
            <p>{{ pimcore_input('fee') }}</p>
        </div>
    </div>

    {% if document.property('apply1') %}
        <div class="mt-3">
            <a href="{{ document.property('applyURL') ~ document.property('code') }}" class="btn btn-dark">
                Apply online now
            </a>
        </div>
    {% endif %}
</div>
