<div class="row">
    <div class="col-12 col-lg-8 mb-6 mb-lg-0">
        <article>
            <h1>{{ news.rubrik }}</h1>
            <div class="nmt-3 mb-3">
                <p class="text-uppercase mt-0">
                    {{ 'published'|trans  ~ ': ' ~ news.creationDate|date('Y-m-d') }}
                </p>
            </div>
            <p class="lead">{{ news.ingress }}</p>

            {# Image or video #}
            {% if news.image1 %}
                <figure class="figure">
                    <img src="{{ news.image1 }}" class="figure-img img-fluid m-0"
                         alt="{{ news.image1.metadata('alt') }}">
                    {% if news.caption %}
                        <figcaption class="figure-caption bg-dark text-white p-2">
                            {{ news.caption }}
                        </figcaption>
                    {% endif %}
                </figure>
            {% elseif news.youTube %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/{{ news.youTube }}"
                            allowfullscreen>
                    </iframe>
                </div>
            {% endif %}

            {# Body #}
            {{ news.body | raw }}
        </article>
    </div>

    <div class="col-12 col-lg-4">
        {# Kontaktinfo #}
        {% if news.body3 %}
            <div class="bg-plaster-50 mb-3 p-5">
                <h3 class="mt-0">{{ news.rubrik3 }}</h3>
                {% if news.image3 %}
                    <img src="{{ news.image3 }}" alt="" class="w-100 mb-3">
                {% endif %}
                {{ news.body3 | raw }}
            </div>
        {% endif %}

        {# Mer info #}
        {% if news.body2 %}
            <div class="bg-sky-25 mb-3 p-5">
                <h3 class="mt-0">{{ news.rubrik2 }}</h3>
                {{ news.body2 | raw }}
                {% if news.image2 %}
                    <img src="{{ news.image2 }}" alt="" class="w-100">
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
