{% if document.property('bootstrap') %}
    {% if editmode %}
        <figure class="figure" style="width: 100%;">
            {{ pimcore_image('image', { 'class': 'figure-img img-fluid m-0' }) }}
            <figcaption class="figure-caption bg-dark text-white p-2">
                {{ pimcore_input('figcaption') }}
            </figcaption>
        </figure>
    {% else %}
        <figure class="figure">
            {{ pimcore_image('image', { 'class': 'figure-img img-fluid m-0' }) }}
            {% if not pimcore_input('figcaption').empty %}
                <figcaption class="figure-caption bg-dark text-white p-2">
                    {{ pimcore_input('figcaption') }}
                </figcaption>
            {% endif %}
        </figure>
    {% endif %}
{% else %}
    <div>{{ pimcore_image('image', { 'width': width ?? '' }) }}</div>
{% endif %}
