{% if rssFeed is defined %}
    {# rssFeedArray #}
    {% set rssFeedArray = ( pagination and paginator ) ? paginator : rssFeedArray %}

    {# Heading #}
    <h2>{{ heading }}</h2>

    {# Rss Feed content #}
    {% for item in rssFeedArray %}
        {% if brickName == 'mainAreablock' %}
            <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
            <p>
                <span style="text-transform:uppercase;">{{ item.creator }}</span>
                {{ item.pubDate|date('%Y-%m-%d') }}<br>
                {% if pimcore_checkbox('descriptionLong').checked %}
                    {{ item.description }}
                {% elseif not pimcore_checkbox('descriptionNone').checked %}
                    {{ ehl_summary(item.description, 80) }}
                {% endif %}
            </p>
        {% else %}
            <p>
                <a href="{{ item.link }}">{{ item.title }}</a><br>
                <em>{{ item.pubDate|date('%Y-%m-%d') }}</em><br>
                {% if pimcore_checkbox('descriptionLong').checked %}
                    {{ item.description }}
                {% elseif not pimcore_checkbox('descriptionNone').checked %}
                    {{ ehl_summary(item.description, 80) }}
                {% endif %}
            </p>
        {% endif %}
    {% endfor %}

    <p><a href="{{ pimcore_input('linkUrl').data }}">{{ pimcore_input('linkHeading').data }}</a></p>

    {# pagination controller #}
    {% set paginationViewPath = document.property('bootstrap')
        ? 'Bootstrap/Navigation/pagination.html.twig'
        : 'Navigation/pagination.html.twig'
    %}

    {% if pagination and paginator %}
        {{ include(paginationViewPath, {
            'paginatorPages': paginator.pages('Sliding'),
            'urlprefix': document.fullPath() ~ '?page=',
            'appendQueryString': true,
        }) }}
    {% endif %}
{% else %}
    <h2>RSS</h2>
    <p>Not connected to RSS feed.</p>
{% endif %}
