{% set color = pimcore_select('color').data ?: 'bg-sky-50' %}
{% set readmoreText = pimcore_link('readmore').text ?: 'Läs mer' %}

{% if editmode %}
    <style>
        .pimcore_area_infobox .pimcore_tag_input {
            font-family: "Georgia", serif;
            font-weight: 500;
            line-height: 1.2;
            font-size: 1.5rem;
        }
    </style>

    <div class="alert alert-warning" role="alert">
        Ange bakgrundsfärg, rubrik, text och eventuell högerställd länk.
    </div>

    {{ pimcore_select('color', {
        'width': '160',
        'reload': true,
        'store': [
            ['bg-sky-50', 'Himmel 50 %'],
            ['bg-sky-25', 'Himmel 25 %'],
            ['bg-copper-50', 'Koppar 50 %'],
            ['bg-copper-25', 'Koppar 25 %'],
            ['bg-flower-50', 'Blomma 50 %'],
            ['bg-flower-25', 'Blomma 25 %'],
            ['bg-plaster-50', 'Puts 50 %'],
            ['bg-plaster-25', 'Puts 25 %'],
            ['bg-stone-50', 'Sten 50 %'],
            ['bg-stone-25', 'Sten 25 %'],
        ],
    }) }}
{% endif %}

<div class="{{ color }} mb-6 p-5">
    <p class="h3 mt-0 mb-3">{{ pimcore_input('heading') }}</p>
    {{ pimcore_wysiwyg('content', { 'customConfig': '/static/js/ckeditor.js' }) }}

    {% if editmode %}
        <div class="text-right font-weight-normal">
            {{ pimcore_link('readmore') }}
        </div>
    {% else %}
        {% if not pimcore_link('readmore').empty %}
            <div class="text-right font-weight-normal">
                <a href="{{ pimcore_link('readmore').href }}"
                   class="nav-undecorated" title="{{ pimcore_link('readmore').text }}">
                    {{ readmoreText }}
                    <span class="ml-1"><i class="fal fa-chevron-circle-right fa-lg"></i></span>
                </a>
            </div>
        {% endif %}
    {% endif %}
</div>
