<div class="bg-plaster-50 mb-6 p-5">
    {% if heading %}
        <p class="h3 mt-0 mb-3">{{ 'contact'|trans }}</p>
    {% endif %}
    <p>
        <strong>{{ person.displayName }}</strong>
        <br>
        {{ roles | raw }}
    </p>

    <p>
        {% if mail %}
            <a href="mailto:{{ mail }}" title="{{ mail }}">{{ mail }}</a><br>
        {% endif %}
        {% if phone %}
            {{ 'phone'|trans|capitalize }}: {{ phone }}<br>
        {% endif %}
        {% if room %}
            {{ 'room'|trans|capitalize }}: {{ room }}<br>
        {% endif %}
    </p>

    {% if image %}
        {{ ehl_staff_display_image(
            'staff/' ~ person.uid ~ '.jpg',
            person.displayName,
            'w-100',
        ) | raw }}
    {% endif %}
</div>
