{% extends 'Layouts/new.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-8 mb-6 mb-lg-0">
            <article>
                <h1>{{ 'contact'|trans }}</h1>
                <div class="nmt-3 mb-3">
                    <p class="text-uppercase mt-0">{{ organisation.name }}</p>
                </div>

                {# Staff list #}
                {% if staffList %}
                    {{ ehl_staff_list(
                        staffList,
                        {
                            'image': false,
                            'room': false,
                            'roleinfo': false,
                            'newlucat': true,
                            'department': organisation.departmentNumber,
                            'baseuri': (websiteConfig.baseuri != '/') ?: '',
                            'language': language,
                        },
                    ) | raw }}
                {% endif %}

                {# Units (parallel) #}
                {% if departments %}
                    <hr>
                    <div class="bg-plaster-50 p-5">
                        <h2 class="mt-0">{{ 'section'|trans }}</h2>
                        <ul>
                            {% for department in departments %}
                                <li>
                                    <a href="{{ href ~ department.departmentNumber }}">{{ department.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {# Staff with spacial roles #}
                {% if specialStaffList %}
                    <div class="bg-plaster-50 p-5 mt-3">
                        <h2 class="mt-0">{{ 'other_roles'|trans }}</h2>
                        {{ ehl_staff_person_special_role(specialStaffList, false, baseUriSpecial) | raw }}
                    </div>
                {% endif %}
            </article>
        </div>

        {# Contact details #}
        {% if organisation and organisation.domain %}
            <div class="col-12 col-lg-4">
                <div class="bg-plaster-50 mb-6 p-5">
                    {{ include('Staff/partialOrgContactDetails.html.twig', {
                        'name': organisation.name(language),
                        'visiting': organisation.street ~ ', ' ~ organisation.location,
                        'postal': organisation.postalAdress,
                        'internal': organisation.postOfficeBox,
                        'phone': organisation.telephoneNumber ?: organisation.vxNumber,
                        'website': organisation.url,
                        'gm_key': google['browser_api_key'],
                        'gm_q': organisation.gpsC,
                        'portalUrl': portalUrl,
                        'newlucat': true
                    }) | raw }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
