<p class="h3 mt-0 mb-3">{{ 'contact_details'|trans|capitalize }}</p>
<p><strong>{{ name }}</strong></p>
<p>{{ 'visiting_address'|trans|capitalize }}:<br> {{ visiting }}</p>
<p>{{ 'postal_address'|trans|capitalize }}:<br> {{ postal }}</p>
<p>{{ 'internal_mail'|trans|capitalize }} {{ internal }}</p>

{% set phone = phone|slice(0, 3) ~ ' ' ~ phone|slice(3, 2) ~ ' ' ~ phone|slice(5, 3) ~ ' ' ~ phone|slice(8, 2) ~ ' ' ~ phone|slice(10) %}
<p>{{ 'phone'|trans|capitalize }}: {{ phone }}</p>

{% if not newlucat %}
    <p><a href="{{ website }}">{{ 'visit_website'|trans|capitalize }}</a></p>
{% elseif newlucat and portalUrl %}
    <p><a href="{{ portalUrl }}">{{ 'profile_lucris'|trans }}</a></p>
{% endif %}

{% if gm_key and gm_q %}
    <iframe class="w-100" height="300px" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key={{ gm_key }}&q={{ gm_q }}&zoom=12"></iframe>
{% endif %}
