{% if newsList %}
    {% if document.property('bootstrap') %}
        <div class="row">
            <div class="col">
                <h2 class="my-0 pb-2 border-bottom">{{ heading }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for item in newsList %}
                    {% set locale = item.rubrik(language)
                        ? language
                        : language == 'sv' ? 'en' : false
                    %}

                    {% if locale %}
                        <a href="{{ uri ~ item.key() }}"
                           class="card card-item nav-block bg-transparent card-item-lined nav-block-hover-plaster-25 px-2 flex-column flex-md-row"
                           title="{{ item.rubrik(locale) }}">
                            <div class="card-body">
                                <div class="meta ">
                                    <span class="meta-date">{{ item.creationDate()|date('Y-m-d') }}</span>
                                    <span class="meta-category">{{ item.category() ? item.category()|trans : '' }}</span>
                                </div>
                                <h3 class="nav-block-link mt-0 mb-2">{{ item.rubrik(locale) }}</h3>
                                <p>{{ ehl_summary(item.ingress, sammanfattning) }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class=" mt-5 text-right font-weight-normal">
                    <a href="{{ link }}" class="nav-undecorated">
                        {{ 'more news'|trans }}&nbsp;
                        <i class="fal fa-chevron-circle-right fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="news-wrapper news-vertical {{ color }}">
            <h2><a href="{{ link }}">{{ heading }}</a></h2>

            {% for item in newsList %}
                {% set locale = item.rubrik(language)
                    ? language
                    : language == 'sv' ? 'en' : false
                %}

                {% if locale %}
                    <div class="news-item">
                        <p class="news-date-category">
                            <span class="news-date">{{ item.creationDate()|date('Y-m-d') }}</span>
                            <span class="news-category">{{ item.category() ? item.category()|trans : '' }}</span>
                        </p>
                        <p class="news-title"><a href="{{ uri ~ item.key() }}">{{ item.rubrik(locale) }}</a></p>
                        <p class="news-lead">{{ ehl_summary(item.ingress, sammanfattning) }}</p>
                    </div>
                {% endif %}
            {% endfor %}

            <p class="archive_link">
                <a href="{{ link }}">
                    {{ 'more news'|trans }}
                    <span class="archive_icon"></span>
                </a>
            </p>
        </div>
    {% endif %}
{% else %}
    {% if language == 'sv' %}
        <p>Det finns för närvarande inga nyhetsartiklar!</p>
    {% else %}
        <p>There are currently no news articles!</p>
    {% endif %}
{% endif %}
