<div class="row">
    {# Text content start #}
    <div class="col-12 col-lg-8 mb-6 mb-lg-0">
        <article>
            {% if event.rubrik %}
                <h1>{{ event.rubrik }}</h1>
            {% endif %}

            <div class="nmt-3 mb-3">
                <p class="text-uppercase mt-0">
                    {{ event.category|trans }}
                </p>
            </div>

            {% if event.ingress %}
                <p class="lead">
                    {{ event.ingress }}
                </p>
            {% endif %}

            <div>
                {% if event.image1 %}
                    <figure class="figure">
                        <img src="{{ event.image1 }}" class="figure-img img-fluid m-0"
                             alt="{{ event.image1.metadata('alt') }}">
                        {% if event.caption %}
                            <figcaption class="figure-caption bg-dark text-white p-2">
                                {{ event.caption }}
                            </figcaption>
                        {% endif %}
                    </figure>
                {% endif %}
            </div>

            {% if event.body %}
                <p>{{ event.body | raw }}</p>
            {% endif %}
        </article>
    </div>

    <div class="col-12 col-lg-4">
        {# Date #}
        <div class="bg-plaster-25 mb-3 p-3">
            {% if event.start %}
                <div class="m-0 p-2 text-center">
                    {% if preview is defined %}
                        <svg class="svg-inline--fa fa-calendar-alt fa-w-14" style="font-size: 72px;height: 63px;width: 72px;" aria-hidden="true"
                             focusable="false" data-prefix="fal" data-icon="calendar-alt" role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M400 64h-48V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H128V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h352c8.8 0 16 7.2 16 16v48H32v-48c0-8.8 7.2-16 16-16zm352 384H48c-8.8 0-16-7.2-16-16V192h384v272c0 8.8-7.2 16-16 16zM148 320h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-96 96h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm192 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12z">
                            </path>
                        </svg>
                    {% else %}
                        <i class="fal fa-calendar-alt" style="font-size:72px;"></i>
                    {% endif %}
                </div>

                {% set date = ehl_calendar_event_date(language, event.start, event.end, event.showEnd) %}
                {% set date = ehl_calendar_event_date_edit(date, event) %}
                <p class="text-center text-uppercase">
                    <strong>{{ date | raw }}</strong>
                </p>
            {% endif %}
        </div>

        {# Alert #}
        {% if event.alert or event.cancelled %}
            <div class="alert alert-danger" role="alert">
                {% if event.alert and event.cancelled %}
                    <p>{{ 'event-canceled'|trans }}</p>
                    <p>{{ event.alert }}</p>
                {% elseif event.alert %}
                    <p>{{ event.alert }}</p>
                {% else %}
                    <p>{{ 'event-canceled'|trans }}</p>
                {% endif %}
            </div>
        {% endif %}

        {# Local #}
        {% if lokal and not event.venue_later and not event.cancelled %}
            <div class="bg-plaster-25 mb-3 p-5">
                <h3 class="mt-0">{{ 'lokal'|trans }}</h3>
                <p>{{ lokal.address|replace({'\n': '<br>'}) | raw }}</p>
                {% if coordinate %}
                    <iframe src="https://www.google.com/maps/embed/v1/place?key={{ google.browser_api_key }}
                            &q={{ coordinate }}&zoom=12" width="100%" style="border:0" allowfullscreen>
                    </iframe>
                {% endif %}
            </div>
        {% elseif event.venue_later %}
            <div class="alert bg-plaster-25" role="alert">
                <p>{{ 'lokal_meddelande'|trans }}</p>
            </div>
        {% endif %}

        {# Sign-up Button #}
        {% if not event.cancelled and event.formLink and event.RegDate or not event.cancelled and event.fullbokat %}
            {% set eventLastRegDate = ehl_calendar_event_last_reg_date(event.regDate) %}
            {% set eventRegDate = ehl_calendar_event_reg_date(event.regDate) %}
            <div class="bg-sky-25 mb-3 p-3">
                <h3 class="mt-0">{{ 'register'|trans }}</h3>
                {% if event.formLink and event.regDate and not event.fullbokat %}
                    {% if eventLastRegDate > "now"|date('U') %}
                        <p>{{ 'registration-day'|trans ~ ': ' ~ eventRegDate ~ '.' }}</p>
                        <a href="{{ event.formLink }}" class="btn btn-secondary">
                            {{ 'register'|trans }}
                        </a>
                    {% else %}
                        <p>{{ 'registration-closed'|trans }}</p>
                    {% endif %}
                {% elseif event.fullbokat %}
                    <p>{{ 'registration-full'|trans ~ '.'}}</p>
                {% endif %}
            </div>
        {% endif %}

        {# Contact #}
        {% if event.namn or event.email or event.phone %}
            <div class="bg-sky-25 mb-3 p-5">
                <h3 class="mt-0">{{ 'kontakt'|trans }}</h3>
                {% if event.namn %}
                    <p><strong>{{ event.namn }}</strong></p>
                {% endif %}
                {% if event.email %}
                    <p><a href="mailto:{{ event.email(language) }}">{{ event.email }}</a></p>
                {% endif %}
                {% if event.phone %}
                    <p>{{ 'phone'|trans ~ ': ' ~ event.phone }}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
